<div class="card card-p" style="width: 18rem;">
  <div class="content-img" ngOptimizedImage>
    <img [src]="platformList.image_background" fetchPriority="high" height="100%" width="100%" class="" alt="...">
  </div>
  <div class="card-body">
    <h5 class="card-title"> {{platformList.name}} </h5>
    <!-- <i class="fa-brands fa-{{ platformList.slug === 'pc' ? 'steam' : platformList.slug }}" fa-2xs style="color: #ffffff;"></i> -->

    <!-- <p class="card-text"> <span> Released:  </span> <i class="fa-regular fa-calendar" style="color: #00bf23;"></i> <br> <span> Rating: {{gameList.rating}} </span> <i class="fa-solid fa-star" style="color: #00bf23;;"></i>   </p> -->
    <!-- <button [routerLink]="['/gameverse/platform-list/',platformList.id]" class=""> <span>See More  <i class="fa-solid fa-circle-info" style="color: #ffffff;"></i> </span>  </button> -->
  </div>
</div>
