<div class="card card-p" style="width: 18rem;">
  <div class="content-img" ngOptimizedImage>
    <img [src]="platformList.image_background" fetchPriority="high" height="100%" width="100%" class="" alt="...">
  </div>
  <div class="card-body">
    <div class="cont-button">
      <button class="card-title" [routerLink]="['/gameverse/',opcionView,platformList.name,platformList.id]"> {{platformList.name}} </button>
    </div>
    <div>
      <div class="popular">
        <h6>Popular Items</h6>
        <span> {{ platformList.games_count }}  </span>
      </div>
      <ul  *ngFor="let game of platformList.games.slice(0,3)">
          <li class="button-extra" [routerLink]="['/gameverse/info-game',game.id]" > {{game.name}} </li>
      </ul>
    </div>
  </div>
</div>
