<div class="card card-p" >
  <div class="card-header card-h">
    <h5 class="game-title">Game not found <i class="fa-regular fa-face-sad-cry" style="color: #ffffff;"></i> </h5>
  </div>
  <div class="card-body">
    <h5 class="card-title game-title">Some of the reasons why the game you're looking for may not be available</h5>
    <ul>
      <li class="li-not" >You may have possibly misspelled the game's name</li>
      <li class="li-not" >Try searching with another name or something similar</li>
    </ul>
  </div>
</div>
