
<main>

  <section class="section-main">

    <article class="contenedor-articulo-1">
      <div class="art1-part-1">
        <h1 class="text-shadow-pop-bottom">¿What is GAMEVERSE <i class="fa-brands fa-xbox fa-2xs" style="color: #ffffff;"></i>  <i class="fa-brands fa-playstation fa-2xs" style="color: #ebebeb;"></i>    <i class="fa-brands fa-steam fa-2xs" style="color: #ffffff;"></i>        </h1>
        <p>
          A place where you can discover and search for games according to your interests, whether by platform, genres,
          or by searching for them by name! Discover them!.
        </p>
      </div>

      <div class="cont-img">
        <img src="assets/image/mundo3.png" alt="">
      </div>
    </article>


    <article class="contenedor-articulo-2">
      <h2 class="text-center text-cont ">Discover Some of Our Sections.</h2>
      <div class="art2-part-2">
        <div class="art2-cont-text">
          <h4 class="text-center">
            List of games
            With their respective information.
          </h4>

          <button>
            <span>
                See More <i class="fa-solid fa-circle-info" style="color: #ffffff;"></i>
            </span>
        </button>
        </div>

        <div class="cont-img-article">
          <img src="https://sm.ign.com/t/ign_es/feature/t/the-top-10/the-top-100-video-games-of-all-time_53uq.1280.jpg" alt="">
        </div>

      </div>

      <div class="art2-part-2">
        <div class="art2-cont-text">
          <h4 class="text-center">
            You can search for your
            Favorite game or
            Search for them by similarity.
          </h4>
          <button routerLink="/gameverse/list-games" >
            <span >
                See More <i class="fa-solid fa-circle-info" style="color: #ffffff;"></i>
            </span>
        </button>
        </div>

        <div class="cont-img-article">
          <img src="assets/image/fifa.jpg" alt="">
        </div>

      </div>


    </article>






  </section>



</main>
