<main>


  <section class="section-info">

    <div class="contendor-info">

      <div class="contenedor-back">
        <h2 class="title-game title-2 text-shadow-pop-bottom "> {{game.name}} </h2>
        <div class="content-info-img " ngOptimizedImage>
          <img class="" [src]="game.background_image" fetchPriority="high" height="100%" width="100%" alt="">
        </div>

        <div class="cont-genres">
          <h5 class="title-genres">Genres <i class="fa-solid fa-cube fa-2xs" style="color: #00bf23;"></i> :</h5>
          <div class="cont-card">
            <div class="genres" *ngFor="let genres of game.genres" [ngStyle]="{
              'background-image': 'linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.9)), url(' + genres.image_background + ')'
            }">
             <h4 class="title-action "> {{genres.name}} </h4>
            </div>
          </div>

          <div class="cont-p-tags">
            <h5 class="title-genres">Tags <i class="fa-solid fa-hashtag fa-2xs" style="color: #00bf23;"></i> : </h5>
            <div class="cont-tags">
              <div *ngFor="let tags of game.tags.slice(0,5)">
                <button  class="button-tags">
                  {{ tags.name}}
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="cont-text">
        <h2 class="title-game text-shadow-pop-bottom "> {{game.name}} </h2>
        <div class="content-info-img-responsive " ngOptimizedImage>
          <img class="" [src]="game.background_image" fetchPriority="high" height="100%" width="100%" alt="">
        </div>
        <h5>  <span class="titles">Rating:</span> {{game.rating}} <i class="fa-solid fa-star fa-xs" style="color:#00bf23 ;"></i> </h5>
        <h5> <span class="titles">Released:</span> {{game.released}} <i class="fa-regular fa-calendar fa-xs" style="color: #00bf23;"></i> </h5>
        <p>
          {{game.description_raw | descriptionPipe }}
        </p>
        <div class="platform">
          <h5 class="titles">Platform <i class="fa-solid fa-layer-group fa-xs" style="color: #00bf23 ;"></i> :</h5>
          <div *ngFor="let platform of game.parent_platforms.slice(0,3)">
            <button  class="button-p">
              {{platform.platform.name}} <span class="btn-span"> <i class="fa-brands fa-{{ platform.platform.slug === 'pc' ? 'steam' : platform.platform.slug }}" fa-2xs style="color: #ffffff;"></i>
              </span>
            </button>
          </div>
        </div>

        <div class="website titles">
          <h5> WEBSITE <i class="fa-solid fa-globe fa-xs" style="color: #00bf23 ;"></i>  : <br> <a [href]="game.website" target="_blank">Go to the official website.  </a>  </h5>

        </div>

        <div>
          <h5 class="titles"> Developers <i class="fa-solid fa-code fa-xs" style="color: #00bf23;"></i> : </h5>
            <div *ngFor="let dev of game.developers">
              <button class="button-p">
                {{dev.name | titlecase }}
              </button>
            </div>
        </div>





      </div>

    </div>







  </section>







</main>
