
main{
font-family: 'Gabarito', cursive;
color: rgb(255, 255, 255);


}


.titles{
  font-family: 'Bebas Neue', sans-serif;
  color: #00bf23;
  font-size: 20px;
}

.section-info{
  /* border: 1px solid red; */
  height: 100vh;
  display: flex ;
  justify-content: center;
  align-items: center;

}


.content-info-img{
  width: 700px;
  height: 350px;
}

.content-info-img img {

  object-fit: cover;
  border-radius: 6px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}


.contendor-info{
  padding: 15px;
  width: 1300px;
  height: 780px;
  /* border: 1px solid greenyellow; */
  display: flex;
  justify-content: space-around;

}



.cont-text{
  padding: 8px;
  /* border: 1px solid tomato; */
  width: 420px;
}


.title-game{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 50px;
  color: #00bf23;
}



.button-p{
  background-color: rgb(14, 14, 14);
  color: rgb(255, 255, 255);
  border: 1px solid #00bf23;
  padding: 5px;
  margin-bottom: 6px;
  border-radius: 8px;



}

.button-p:hover{
  background-color: #383838;
  transition: 0.5s;
}


.btn-span{
  padding: 3px;
  width: 40px;
  /* border: 1px solid red; */
  border-radius: 4px;
  background-color: #555555;

}

.title-2{
  display: none;
}


.cont-genres{
  margin-top: 20px;
  /* border: 1px solid paleturquoise; */
  padding: 10px;
}

.title-genres{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 29px;
  color: #00bf23;

}

.title-action{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 29px;
  color: #ffffff;
}

.cont-card{
  /* border: 1px solid rgb(30, 0, 255); */
  display: flex;
}


.genres{
  /* border: 1px solid #00bf23; */
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin:5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 120px;
  background-repeat: no-repeat;
  background-size: contain;
}



.button-tags{
  background-color: rgb(14, 14, 14);
  color: rgb(255, 255, 255);
  border: 1px solid #00bf23;
  padding: 5px;
  margin: 6px;
  border-radius: 8px;

}

.cont-tags{
  padding: 5px;
  /* border: 1px solid red; */
  display: flex;

}

.cont-p-tags{
  /* border: 1px solid orange; */
}



.website a {
  font-size: 18px;
  text-decoration: none;
  color: #ffffff ;
  font-family: 'Gabarito', cursive;
}

.contenedor-back{
  /* border: 1px solid gold; */
}


.content-info-img-responsive{
  display: none;
}



@media screen and (max-width: 600px) {


  .section-info{
    /* border: 1px solid red; */
    width: auto;
    height: 100%;


  }


  .contendor-info{
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .content-info-img{
    display: none;
  }

  .content-info-img-responsive{
    display: block;
    width: 300px;
    height: 150px;
  }



  .cont-card{
    display: flex;
    flex-direction: column;
  }

  .cont-tags{
    display: flex;
    flex-direction: column;
  }

  .cont-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;

  }

  .contenedor-back{
    min-width: 320px;
    /* background-color: aqua; */
  }

}
