<main>

<div class="content-spinner" *ngIf="isLoading">
  <spinner-game></spinner-game>
</div>


  <section  class="section-info"  *ngIf="game && !isLoading" [ngStyle]="{
    'background-image': 'linear-gradient(0deg, rgba(0,0,0,1) 13%, rgba(0,191,35,0) 100%), url(' + game.background_image_additional + ')'
  }">

    <div class="contendor-info"  >

      <div class="contenedor-back">
        <h2 class="title-game title-2 text-shadow-pop-bottom "> {{ game.name | titleGame }} </h2>
        <div class="content-info-img " ngOptimizedImage>
          <img class="" [src]="game.background_image" fetchPriority="high" height="100%" width="100%" alt="">
        </div>

        <div class="cont-genres">
          <h5 class="title-more">Genres <i class="fa-solid fa-cube fa-2xs" style="color: #00bf23;"></i> :</h5>
          <div class="cont-card">
            <div class="genres" *ngFor="let genres of game.genres.slice(0,4)" [ngStyle]="{
              'background-image': 'linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.9)), url(' + genres.image_background + ')'
            }">
             <h4 class="title-action "> {{genres.name}} </h4>
            </div>
          </div>

          <div class="cont-p-more">
            <h5 class="title-more">Tags <i class="fa-solid fa-hashtag fa-2xs" style="color: #00bf23;"></i> : </h5>
            <div class="cont-more">
              <div *ngFor="let tags of game.tags.slice(0,5)">
                <button  class="button-more">
                  {{ tags.name}}
                </button>
              </div>
            </div>
          </div>

          <div class="cont-p-more">
            <h5 class="title-more">Ratings <i class="fa-solid fa-hashtag fa-2xs" style="color: #00bf23;"></i> : </h5>
            <div class="cont-more">
              <div *ngFor="let publi of game.ratings">
                <button  class="button-more">
                  {{ publi.title | titlecase }}
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="cont-text">
        <h2 class="title-game text-shadow-pop-bottom " [title]="game.name"> {{game.name | titleGame }} </h2>
        <div class="content-info-img-responsive " ngOptimizedImage>
          <img class="" [src]="game.background_image" fetchPriority="high" height="100%" width="100%" alt="">
        </div>
        <h6> <span class="titles">Rating:</span>  {{game.rating}} <i class="fa-solid fa-star fa-xs" style="color:#00bf23 ;"></i> </h6>
        <h6> <span class="titles">Released:</span>  {{game.released}} <i class="fa-regular fa-calendar fa-xs" style="color: #00bf23;"></i> </h6>
        <h6> <span class="titles">MetaScore: </span>  <span class="title-meta"> {{game.metacritic}} </span> <i class="fa-solid fa-flag-checkered" style="color: #00bf23;"></i> </h6>

        <p>
          {{game.description_raw | descriptionPipe }}
        </p>
        <div class="plat-web-dev">
          <div class="platform">
            <h5 class="titles">Platforms <i class="fa-solid fa-layer-group fa-xs" style="color: #00bf23 ;"></i> :</h5>
            <div *ngFor="let platform of game.platforms.slice(0,4)">
              <button [routerLink]="['/gameverse/platform-list',platform.platform.slug,platform.platform.id]"  class="button-p"  >
                {{platform.platform.name}} <span class="btn-span"> <i class="fa-brands fa-{{ showIconForNames(platform.platform.slug)}}" fa-2xs style="color: #ffffff;"></i>
                </span>
              </button>
            </div>
            <div class="website titles">
              <h5> WEBSITE <i class="fa-solid fa-globe fa-xs" style="color: #00bf23 ;"></i>  : <br> <a [href]="game.website" target="_blank">Go to the official website.  </a>  </h5>

            </div>
          </div>


          <div>
            <h5 class="titles"> Developers <i class="fa-solid fa-code fa-xs" style="color: #00bf23;"></i> : </h5>
                <div *ngFor="let dev of game.developers.slice(0,3)">
                  <button class="button-p">
                    {{dev.name | titlecase }}
                  </button>
                </div>
          </div>

        </div>


      </div>

    </div>







  </section>







</main>
