.loader {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
  max-width: 6rem;
  position: relative;
  width: 850px;

}
.loader:before,
.loader:after {
  animation: pulsOut 1.8s ease-in-out infinite;
  border-radius: 50%;
  content: "";
  filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.75));
  position: absolute;
}
.loader:before {
  animation-name: pulsIn;
  box-shadow: inset 0 0 0 1rem #00bf23;
  padding-bottom: 100%;
  width: 100%;
}
.loader:after {
  box-shadow: 0 0 0 0 #00bf23;
  padding-bottom: calc(100% - 2rem);
  width: calc(100% - 2rem);
}

@keyframes pulsIn {
  0% {
    box-shadow: inset 0 0 0 1rem #00bf23;
    opacity: 1;
  }
  50%, 100% {
    box-shadow: inset 0 0 0 0 #00bf23;
    opacity: 0;
  }
}

@keyframes pulsOut {
  0%, 50% {
    box-shadow: 0 0 0 0 #00bf23;
    opacity: 0;
  }
  100% {
    box-shadow: 0 0 0 1rem #00bf23;
    opacity: 1;
  }
}
