main{
  height: 100vh;
  font-family: 'Gabarito', cursive;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container-error{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red ;

}


.error-404{
  color: rgb(255, 255, 255);
  border: 1px solid forestgreen;
  width: 400px;
  height:400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Bebas Neue', sans-serif;

}

.error-404 span, h1 {
  font-size: 80px;
  text-align: center;
}
