<main>

  <h2 class="title-game text-shadow-pop-bottom"> GAMES FOR {{ namePlatform | titlecase }} </h2>


  <div class="content-spinner" *ngIf="isLoading">
    <spinner-game  ></spinner-game>
  </div>


  <section class="contenedor-list-platform" *ngIf="!isLoading" >

    <div *ngFor="let platList of listPlatformGames">
      <card-game [gameList]="platList"></card-game>
    </div>



  </section>



  <paginator-game  [ngClass]="{'ocultar': isLoading}" (pageChange)="getPageByEvent($event)" ></paginator-game>



</main>
