<header>
  <nav class="navbar navbar-expand-lg  border-bottom border-body " data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/image/nuevoLogo.png" alt="Logo" width="69" height="69" class="d-inline-block align-text-top">

      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home <i class="fa-solid fa-gamepad" style="color: #00bf23;"></i></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Sections
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/gameverse/list-games">List Games <i class="fa-solid fa-list " style="color: #00bf23;"></i> </a> </li>
              <li><a class="dropdown-item" routerLink="/gameverse/top-games">Top Games  <i class="fa-solid fa-star" style="color: #00bf23;"></i> </a> </li>
              <li><a class="dropdown-item" routerLink="/gameverse/search-games">Search Game <i class="fa-solid fa-magnifying-glass" style="color: #00bf23;"></i>  </a></li>
              <li><a class="dropdown-item" routerLink="/gameverse/platform-games">Platform <i class="fa-solid fa-globe" style="color: #00bf23;"></i> </a></li>
              <li><a class="dropdown-item" routerLink="/gameverse/genres-games">Genres <i class="fa-solid fa-users" style="color: #00bf23;"></i> </a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</header>

<div class="content-cont">
  <router-outlet class="router"></router-outlet>
</div>

<footer class="footer   p-4 ">
  <div class="container">
    <div class="row">
      <div class="col-md-3 logo">
        <h5 class="text-center">Desarrollado por STARS1LVER.</h5>
        <img src="assets/image/logo3.png" class="img-fluid mb-3" alt="Logo de Gameverse">
      </div>
      <div class="col-md-3">
        <h5>Enlaces</h5>
        <ul class="list-unstyled">

          <li><a href="https://store.steampowered.com" target="_blank">Steam <i class="fa-brands fa-steam" style="color: #ffffff;"></i></a>  </li>
          <li><a href="https://www.xbox.com" target="_blank">Xbox <i class="fa-brands fa-xbox " style="color: #ffffff;"></i> </a></li>
          <li><a href="https://playstation.com" target="_blank">Playstation <i class="fa-brands fa-playstation " style="color: #ebebeb;"></i> </a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Redes sociales</h5>
        <ul class="list-unstyled">
          <li><a href="https://github.com/STARS1LVER">Github <i class="fa-brands fa-github" style="color: #ffffff;"></i></a></li>
          <li><a href="#">Linkedin <i class="fa-brands fa-linkedin" style="color: #ffffff;"></i> </a></li>

        </ul>
      </div>
      <div class="col-md-3">
        <h5>Copyright</h5>
        <p>© 2023 Gameverse. Todos los derechos reservados.</p>
      </div>
    </div>
  </div>
</footer>
