<div class="card card-p" style="width: 18rem;">
  <div class="content-img" ngOptimizedImage>
    <img [src]="gameList.background_image" fetchPriority="high" height="100%" width="100%" class="" alt="...">
  </div>
  <div class="card-body">
    <h5 class="card-title"> {{gameList.name}} </h5>
    <span *ngFor="let platform of gameList.parent_platforms">
      <i class="fa-brands fa-{{ platform.platform.slug === 'pc' ? 'steam' : platform.platform.slug }}" fa-2xs style="color: #ffffff;"></i>
    </span>
    <p class="card-text"> <span> Released: {{gameList.released}} </span> <i class="fa-regular fa-calendar" style="color: #00bf23;"></i> <br> <span> Rating: {{gameList.rating}} </span> <i class="fa-solid fa-star" style="color: #00bf23;;"></i>   </p>
    <button [routerLink]="['/gameverse/info-game/',gameList.id]" class=""> <span>See More  <i class="fa-solid fa-circle-info" style="color: #ffffff;"></i> </span>  </button>
  </div>
</div>
