<div class="card card-p" style="width: 18rem;">
  <div class="content-img" ngOptimizedImage>
    <img [src]="gameList.background_image" fetchPriority="high" height="100%" width="100%" class="" alt="...">
  </div>
  <div class="card-body">
    <h5 class="card-title"> {{gameList.name}} </h5>
    <p class="card-text"> <span> Released: {{gameList.released}} </span> <i class="fa-regular fa-calendar" style="color: #00bf23;"></i> <br> <span> Rating: {{gameList.rating}} </span> <i class="fa-solid fa-star" style="color: #00bf23;;"></i>   </p>
    <button href="#" class=""> <span>See More  <i class="fa-solid fa-circle-info" style="color: #ffffff;"></i> </span>  </button>
  </div>
</div>
