<main>

  <form [formGroup]="myInputForm" (ngSubmit)="onSubmitForm()" autocomplete="off" >
    <div class="input-group-p">
      <input formControlName="name" placeholder="Find your favorite game..." type="text" id="input-field">
      <button type="submit" class="submit-button"><span> <i class="fa-solid fa-hand-pointer fa-xl"></i> </span></button>
    </div>
    <span *ngIf="errorsForm" >  {{ getFielError() }}  </span>
  </form>


  <section class="content-cards content-search">


    <div *ngIf="notSearch">
      <game-not-found></game-not-found>
    </div>



    <div *ngFor="let games of gamesBySearch" [ngClass]="{'ocultar': notSearch}"  >
      <card-game [gameList]="games" ></card-game>
    </div>



  </section>


  <paginator-game></paginator-game>


</main>
